# Environment & Virtual Envs
.env
venv/
.venv/

# Python Cache & Databases
__pycache__/
*.pyc
vector_db/

# OS & Editor Metadata
.DS_Store

# Jupyter Checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb
